<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>TweetAnalyz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="% static 'homepage/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="{% static 'homepage/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#featured">Features</a></li>
                        <li><a href="#projects">Query Input</a></li>
                        <!-- <li><a href="#video">Presentation</a></li> -->
                        <li><a href="#blog">Our Group</a></li>
                        <!-- <li><a href="#contact">Contact Us</a></li> -->
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="{% url 'home' %}">Tweet<em>analyz</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Featured
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Query Input
                        </a>
                    </li>
                    
                    <li>
                        <a href="#blog">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Our Group
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        
                        <a href="{% url 'logout' %}">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Log out
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'register' %}">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Register
                        </a>
                        &nbsp;/&nbsp;
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                    {% endif %}

                    <!-- <li>
                        <a href="{% url 'login' %}">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Login
                        </a>
                    </li> -->
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>

        {% block content %} {% endblock %} 


        <section class="footer">
            <p>AML 3406 - 2021</p>
        </section>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "homepage/js/vendor/jquery-1.11.2.min.js" %}"><\/script>')</script>

<script src="{% static 'homepage/js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static 'homepage/js/plugins.js' %}"></script>
<script src="{% static 'homepage/js/main.js' %}"></script>

<script>
    // Hide Header on on scroll down
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('header').outerHeight();

    $(window).scroll(function(event){
        didScroll = true;
    });

    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);

    function hasScrolled() {
        var st = $(this).scrollTop();
        
        // Make sure they scroll more than delta
        if(Math.abs(lastScrollTop - st) <= delta)
            return;
        
        // If they scrolled down and are past the navbar, add class .nav-up.
        // This is necessary so you never see what is "behind" the navbar.
        if (st > lastScrollTop && st > navbarHeight){
            // Scroll Down
            $('header').removeClass('nav-down').addClass('nav-up');
        } else {
            // Scroll Up
            if(st + $(window).height() < $(document).height()) {
                $('header').removeClass('nav-up').addClass('nav-down');
            }
        }
        
        lastScrollTop = st;
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>

